@"
.vs/
**/.vs/
*.ipch
*.VC.db
Browse.VC.db
*.suo
*.user
*.userosscache
*.sdf
*.opensdf

*.7z
*.zip
*.rar

bin/
obj/
build/
Debug/
Release/
x64/
x86/

.gradle/
**/.gradle/
local.properties
app/build/
**/build/

.env
*.jks
*.keystore

Thumbs.db
.DS_Store
"@ | Set-Content .gitignore -Encoding UTF8